<li><%= user.name %></li>
<% if user.id == current_user.id %>
  <td>
   <%= link_to "削除", "/users/#{user.id}", method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
  </td>
<% end %>
